:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}
header h1 {
    color: var(--primary-color);
}
section {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section h2 {
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
menu {
    color: var(--primary-color);
    text-decoration: none;
}

footer p {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: var(--font-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

.paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000f1;
}
