:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --font-color: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 1.5rem;
    background-color: #ffffffb9;
}

header {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}
nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    transition: opacity 0.3s;
}
nav a:hover {
    opacity: 1;
}
header h1 {
    color: var(--primary-color);
}
main {
        min-height: 80vh;
        padding: 4rem 2rem;
        margin: 0 auto;
    }
section {
    background: #fff;
    padding: 15px;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
section h2 {
    color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer p {
    text-align: center;
    font-size: 0.9em;
    color: #0407a3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2rem;
    margin-top: 2rem;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

.paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000f1;
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        }
        main {
            padding: 2rem 1rem;
        }
}