:root {
    --cor-de-fundo: #090086ee;
}
body{
background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.card-principal {
    display: grid;  
    border-radius: 10px;
    justify-items: center;
    background: #833AB4;
    background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    width: 350px;
    height: 700px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-image: url(bluepen.gif);
    background-repeat: repeat;
}

.button {
    display: grid;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    gap: 10px; 
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #020024;
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: rgb(249, 250, 252);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    color: aqua;
}
img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

h1 ,h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(10, 182, 235);
}

@media (min-width: 375px) {
.card-principal{
    width: 350px;
    height: 650px;
}

}