:root {
--background-color: ##002f52;
}
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #323eea 0%, #764ba2 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}